#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    background-color: rgba(232, 255, 247, 0.49);
    color: #001a49;
    padding: 8rem 1rem;
}

.footer-logo img {
    width: 200px;
}

.links-list {
    list-style: none;

}

.links-list .link:nth-child(2),
.links-list .link:nth-child(3){
    margin: 1rem 0;
}

.links-list .link:nth-child(2) a,
.links-list .link:nth-child(3) a{
    text-decoration: none;
    font-weight: normal;
    color: #4f596a;
    cursor: pointer;
}

.contact-us {
    text-align: center;
}

.contact-us__description {
    color: #4f596a;
    font-weight: normal;
    line-height: 1.5;
    margin: 1rem 0;
}

.footer-input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.footer-input-wrapper label {
    margin-bottom: 0.5rem;
}

.footer-input-wrapper input {
    height: 40px;
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

.footer-input-wrapper textarea {
    font-size: 1.2rem;
    padding: 0.5rem;
}

.footer-cta {
    padding: 0.6rem 1.2rem;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 1.2rem;
    background-image: linear-gradient(180deg, #3da882, #5cdfa8);
}

.footer-cta:focus-visible {
    outline: none;
}

@media (min-width:992px) {

    .contact-us {
        text-align: left;
    }

    .contact-us__description {
        width: 80%;
    }
}